<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/create.css">
		<link rel="icon" type="image/png" href="../appicon.png">
		<title>cryptoolchain - create container</title>
	</head>
	<body>
		<div class="container">
			<input id="targetFilename" type="text" placeholder="... filename" title="enter filename for new container" autofocus></input>
			<div class="entry" target="targetChoose" title="choose filename for new container">
				 choose
			</div>
			<hr>
			<div class="desc">size in mbytes:</div>
			<div class="desc">size in blocks:</div>
			<hr>
			<div class="desc">block size:</div><div class="desc">size in asfdsafad:</div>
			<!-- <div class="desc">security chains configuration:</div>
			<ul id="cryptoolchain">
				<li class="chain">#1: <span class="chainBlock in">input&nbsp;#1</span> &gt; <span class="chainBlock out">data&nbsp;#1,&nbsp;data&nbsp;#2</span>&nbsp;;</li>
				<li class="chain">#2: <span class="chainBlock in">data&nbsp;#1</span> &gt; <span class="chainBlock out">mount,&nbsp;read</span>&nbsp;;</li>
				<li class="chain">#3: <span class="chainBlock in">data&nbsp;#2</span> &gt; <span class="chainBlock out">write</span>&nbsp;;</li><li>#3: <span class="chainBlock in">data&nbsp;#2</span> &gt; <span class="chainBlock out">write</span>&nbsp;;</li>
			</ul>
			<div class="entry" target="addChain" title="create and configure new security chain">
				 add
			</div>
			<div class="entry" target="removeChain" title="remove security chain from list">
				 remove
			</div>
			<div class="entry" target="editChain" title="reconfigure existing security chain">
				 edit
			</div>
			<div class="entry" target="defaultChains" title="use default security chains">
				 default
			</div> -->
		</div>
		<script src="../js/move.js"></script>
		<script src="../js/behavior.js"></script>
		<script src="../js/create.js"></script>
	</body>
</html>