<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/semantic.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="icon" type="image/png" href="../appicon.png">
		<title>cryptoolchain</title>
	</head>
	<body>
		<div class="ui vertical inverted borderless left fixed menu" id="appMenu">
			<a class="bottom attached green item last-in-group menu-toggler menu-opened"><i class="sidebar icon"></i>TOGGLE MENU</a>
			<h5 class="ui inverted fitted divider"></h5>
			<a class="green item last-in-group" data-tab="manage" data-variation="inverted" title="manage your secure data from here">
				<i class="desktop icon"></i>manage
			</a>
			<h5 class="ui inverted fitted divider"></h5>
			<a class="green item active" data-tab="create" data-variation="inverted" title="customize and generate new secure data container">
				<i class="lock icon"></i>create
			</a>
			<a class="green item" data-tab="calibrate" data-variation="inverted" title="open container for tuning it up without mounting">
				<i class="configure icon"></i>calibrate
			</a>
			<a class="green item last-in-group" data-tab="mount" data-variation="inverted" title="mount container for accessing secure data saved on it">
				<i class="unlock icon"></i>mount
			</a>
			<h5 class="ui inverted fitted divider"></h5>
			<a class="green item" data-tab="preferences" data-variation="inverted" title="configure the whole app, profiles and advanced features">
				<i class="cogs icon"></i>preferences
			</a>
			<a class="green item" data-tab="manual" data-variation="inverted" title="read the documentation">
				<i class="student icon"></i>manual
			</a>
			<a class="green item last-in-group" data-tab="about" data-variation="inverted" title="wanna to learn more about author?">
				<i class="info icon"></i>about
			</a>
			<h5 class="ui inverted fitted divider"></h5>
			<a class="orange item" data-tab="paranoia" data-variation="inverted orange" title="emit the paranoia scenario (USE IT WITH CARE!)">
				<i class="protect icon"></i>paranoia
			</a>
			<a class="red item" data-tab="panic" data-variation="inverted" title="emit the panic scenario (USE IT WITH DOUBLE CARE!)">
				<i class="plane icon"></i>panic
			</a>
			<a class="green item exit-toggler" data-variation="inverted" title="unmount all mounted containers and quit">
				<i class="sign out icon"></i>exit
			</a>
		</div>
		<div class="ui tab app-content" data-tab="manage">
			manage the fuck container
		</div>
		<div class="ui active tab app-content" data-tab="create">
			<div class="ui equal width padded grid">
				<div class="ui inverted green row">
					<div class="ui green column">
						testr
					</div>
					<div class="four wide column">
						ewwwew
					</div>
				</div>
			</div>
		</div>
		<div class="ui tab app-content" data-tab="calibrate">
			calibrate the fuck container
		</div>
		<div class="ui tab app-content" data-tab="mount">
			mount the fuck container
		</div>
		<div class="ui tab app-content" data-tab="preferences">
			preferences the fuck container
		</div>
		<div class="ui tab app-content" data-tab="manual">
			manual the fuck container
		</div>
		<div class="ui tab app-content" data-tab="about">
			about the fuck container
		</div>
		<div class="ui tab app-content" data-tab="paranoia">
			paranoia the fuck container
		</div>
		<div class="ui tab app-content" data-tab="panic">
			panic the fuck container
		</div>
		<div class="ui tab app-content" data-tab="exit">
			are you sure?
		</div>
		<div class="ui basic modal exit-modal">
			<h2 class="ui icon header">
				<i class="sign out icon"></i>are you sure you want to go?
			</h2>
			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						all mounted containers will be unmounted and locked automatically
					</div>
					<div class="item">
						do not perform unmount while there are unfinished data writes
					</div>
					<div class="item">
						you can turn off warnings by editing preferences
					</div>
				</div>
			</div>
			<br>
			<div class="actions">
				<div class="ui red inverted button">
					<i class="remove icon"></i> quit
				</div>
				<div class="ui green inverted button">
					<i class="reply icon"></i> return
				</div>
			</div>
		</div>
		<!--
			<div class="container">
					<div class="tnav">
						
					</div>
					<div class="wrapper">
						<div class="desc">
							<span class="green">crypt</span>oolchain v0.0.27
							<br>your own infosec jedi
							<hr>documentation, usage examples and security overview are available at our website
							<hr>connect us to learn more:
							<br>tg: @<span class="green">perimetral</span>
							<br>jb: <span class="green">illuminatus</span>@rows.io
						</div>
					</div>
		</div> -->
		<script>
			window.nodeRequire = require;
			delete window.require;
			delete window.exports;
			delete window.module;
		</script>
		<script src="../js/jquery-2.2.1.min.js"></script>
		<script src="../js/semantic.min.js"></script>
		<script src="../js/index.js"></script>
	</body>
</html>